.footer {
    background-color: #ca725a;

    .links1{
        li {
            margin-top: 20px;
        }
    }

    .links2{
        li {
            margin-top: 20px;
        }
    }
}